
<% if current_page?(controller: 'users', action: 'following') %>

<% @user.following.each do |user| %>
<table>
<tr>
  <td>  <%= user.username %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>

<% end %>

<% if current_page?(controller: 'users', action: 'followers') %>

<% @user.followers.each do |user| %>
<table>
<tr>
  <td>  <%= user.username %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>

<% end %>
