// Place all the styles related to the Tweeets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list:hover {

  background-color:#EEEEEE;

}

.user-image {
  height:66px;
  width:66px;
}

.tweet-image-size{
  height: 300px;
  width:300px;
}
